
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>

        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.css"/>
        <script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
                <!-- jQuery -->
        <script src="/golfgame/resources/js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/golfgame/resources/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="/golfgame/resources/js/classie.js"></script>
        <script src="/golfgame/resources/js/cbpAnimatedHeader.js"></script>

        <!-- Contact Form JavaScript -->
        <script src="/golfgame/resources/js/jqBootstrapValidation.js"></script>
        <script src="/golfgame/resources/js/contact_me.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="/golfgame/resources/js/agency.js"></script>
        