<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div style="text-align: left;" class="container"  >            
            <p>Timeout or error occured&nbsp;<a class="btn btn-primary" href="#" th:href="@{/}"><i class="icon-flag on icon-circle"></i>Restart</a></p> 
            
        </div> 
        <div class="container">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>

    </body>

</html>
