<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div class="container"  >            
            <form th:object="${user}"  action="start.html" th:action="@{/game/list}" method="get" class="form-horizontal">
                <p class="error" th:if="${!session.message.isEmpty()}" th:text="${session.message}"></p>
                <p><span class="cislabel ciskey">Login</span>
                    
                    <select th:field="${user.userId}" class="cis-large-select">
                        <option th:each="user: ${session.users}" th:value="${user.userId}" th:text="${user.lastFirst}">Names here</option>
                    </select>
                </p>

                <div class="cislabel">
                    <button class="cis-big-button btn btn-primary btn-lg" type="submit" name="action" value="start">Start</button>
                </div>

            </form>
        </div>
        <div class="container">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>

    </body>

</html>
