<!DOCTYPE html>

<html lang="en">
    <body th:fragment="bodyHeader">
        <div class="containter navbar">
            <div class="container cisis">
                <img style="vertical-align: bottum; float:left " th:src="@{/resources/images/logoHeader.png}" 
                     src="../../../resources/images/logoHeader.png" /><h1>Yesis<small>&nbsp;<a  th:href="@{/}">Golf</a>
                    <span th:if="${session.loggedIn != null}" th:text="${session.loggedIn.firstName}" style="float:right;"></span>
                    </small></h1>
                
            </div>

            <div class="navbar-inner" >
                <a class="btn btn-primary" href="#" th:href="@{/game/list}"><i class="icon-flag on icon-circle"></i>Games</a>
                <a class="btn btn-primary" href="#" th:href="@{/users/list}"><i class="icon-user"></i>Users</a>

                
                <a th:if="${session.loggedIn.userTypeCode==1}" class="btn btn-primary navbar-right" href="#" th:href="@{/codes/codeTypes}"><i class="icon-th-list"></i> Tools</a>
                <a class="btn btn-primary navbar-right" href="#" th:href="@{/other/about}"><i class="icon-question-sign"></i> About</a>
              

<!--            <div class="btn-group open navbar-right">
                <a class="btn btn-primary" href="#"  th:href="@{/codes/codeTypes.html}"><i class="icon-pencil"></i> Tools</a>
                <a class="btn btn-primary  dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="icon-caret-down"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#" th:href="@{/codes/codeTypes.html}" ><i class="icon-fixed-width icon-question-sign"></i> Codes</a></li>
                    <li><a href="#" th:href="@{/other/help}"><i class="icon-fixed-width icon-question-sign"></i> Help</a></li>
                    <li><a href="#" th:href="@{/other/about}"><i class="icon-fixed-width icon-question-sign"></i> About</a></li>
                </ul>
            </div>
-->


            </div>




        </div>
    </body>

</html>