<!--        <div class="cisis" ><p class="text-right">Yesis - Golf Game</p>
                    <img style="float:right" src="../../../resources/images/springsource-logo.png"
                         th:src="@{/resources/images/logoFooter.png}"
                         alt="Room Usage" />
        </div>-->
