<!DOCTYPE html>

<html lang="en">
    <body th:fragment="bodyHeader">
        <div class="containter navbar">
            <div class="container cisis"><a href="../golf/welcome.html" th:href="@{/}">
                <img style="vertical-align: bottum; float:left " th:src="@{/resources/images/logoHeader.png}" 
                     src="../../../resources/images/logoHeader.png" /><h1>HC-CIS<small>&nbsp;golfgame</small></h1></a>
            </div>

            <div class="navbar-inner" >
                <ul  class="nav">

                    <li class="dropdown" id="menuResources">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResources">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Tools
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="../golf/setup.html" th:href="@{/golf/setup}"><i class="icon-th-list"></i>Setup</a></li>                            
                            <li><a href="../golf/addScore.html" th:href="@{/golf/addScore}"><i class="icon-th-list"></i>Add Score</a></li>                            
                            <li><a href="../golf/addScore.html" th:href="@{/golf/scorecard}"><i class="icon-th-list"></i>Scorecard</a></li>                            
                        </ul>
                    </li>


                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../other/help" th:href="@{/other/help}"><i class="icon-question-sign"></i>Help</a></li>
                    <li class="divider"></li>
                    <li><a href="../other/about" th:href="@{/other/about}"><i class="icon-log-out"></i>About</a></li>
                </ul>
            </div>
        </div>
    </body>

</html>