<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <h2>Pick your Group</h2>
            <form th:object="${group}" action="addGroupSubmit.html" th:action="@{/group/addSubmit}" method="get" class="form-horizontal">

                <table>
                    <tbody>
                        <tr   th:each="playerId,stat : ${group.playerIds}" >
                            <th>Player#<span th:text="${stat.index}+1" />&nbsp;</th>
                            <td>
                                <select th:field="${group.playerIds[__${stat.index}__]}">
                                    <option th:each="user: ${session.users}" th:value="${user.userId}" th:text="${user.lastFirst}">types here</option>
                                </select>
                            </td>
                        </tr>            
                    </tbody>
                </table> 


                <fieldset>

                    <table class="table table-striped">
                        <input type="hidden" name="gameId" th:value="${group.gameId}"/>
                    </table>

                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Save</button>
                    </div>

                </fieldset>
            </form>
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>