<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <form th:object="${group}" action="addGroupScoreSubmit.html" th:action="@{/group/addGroupScoreSubmit}" method="get" class="form-horizontal">

                <table>
                    <tbody>
                        <tr>
                            <td><h3>Front</h3></td>
                            <td th:each="detail,statLabel : ${group.playerScoresFront[0]}"><span  th:text="${session.scorecard.gameHoleNumberArrayList[__${statLabel.index}__]}"/>P<span th:text="${session.scorecard.gameHoleParArrayList[__${statLabel.index}__]}"/></td>
                            <td>&nbsp;&nbsp;In&nbsp;&nbsp;</td>
                            <td></td>
                            <td></td>
                        </tr>            
                        <tr   th:each="playerId,stat : ${group.playerIds}" >
                            <th><span th:text="${group.users[__${stat.index}__].firstName}"/><input type="hidden" th:field="${group.users[__${stat.index}__].userId}"/><input type="hidden" th:field="${group.users[__${stat.index}__].firstName}"/></th>
                            <td th:each="playerIdHoleNumber,stat2 : ${group.playerScoresFront[__${stat.index}__]}">
                                <select style="width:4em;" th:field="${group.playerScoresFront[__${stat.index}__][__${stat2.index}__]}">
                                    <option th:each="score : ${session.scores}" th:value="${score}" th:text="${score}">score here</option>
                                </select>
                            </td>
                            <td>&nbsp;&nbsp;<span th:text="${group.playerScoreFront[__${stat.index}__]}"/></td>
                        </tr>     
                        <tr>
                            <td><h3>Back</h3></td>
                            <td th:each="detail,statLabel : ${group.playerScoresFront[0]}"><span  th:text="${session.scorecard.gameHoleNumberArrayList[__${statLabel.index}+9__]}"/>P<span th:text="${session.scorecard.gameHoleParArrayList[__${statLabel.index}+9__]}"/></td>
                            <td>&nbsp;&nbsp;Out&nbsp;&nbsp;</td>
                            <td>Gross</td>
                            <td>&nbsp;Chicago</td>
                        </tr>
                        <tr   th:each="playerId,stat : ${group.playerIds}" >
                            <th><span th:text="${group.users[__${stat.index}__].firstName}"/></th>
                            <td th:each="playerIdHoleNumber,stat2 : ${group.playerScoresBack[__${stat.index}__]}">
                                <select style="width:4em;" th:field="${group.playerScoresBack[__${stat.index}__][__${stat2.index}__]}">
                                    <option th:each="score : ${session.scores}" th:value="${score}" th:text="${score}">score here</option>
                                </select>
                            </td>
                            <td>&nbsp;&nbsp;<span th:text="${group.playerScoreBack[__${stat.index}__]}"/></td>
                            <td><span th:text="${group.playerScoreFront[__${stat.index}__]}+${group.playerScoreBack[__${stat.index}__]}"/></td>
                            <td>&nbsp;<span th:text="${group.chicagoPoints[__${stat.index}__]}"/></td>
                        </tr>            
                    </tbody>
                </table> 

                <fieldset>

                    <table class="table table-striped">
                        <input type="hidden" name="gameId" th:value="${group.gameId}"/>
                    </table>

                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Save</button>
                    </div>

                </fieldset>
            </form>
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>