<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <h2 th:if="${#strings.equals(score.userId,'')}">Add New Score</h2>
            <h2 th:unless="${#strings.equals(score.userId,'')}" th:text="${score.userName}"></h2>
            <p th:text="${message}"></p>
            <form th:object="${score}" action="addScoreSubmit.html" th:action="@{/gameplayer/addSubmit}" method="get" class="form-horizontal">

                <table>
                    <tbody>
                        <tr th:if="${#strings.equals(score.userId,'')}" >
                            <th>Player</th>
                            <td>
                                <select name="userId">
                                    <option th:each="user: ${newUsers}" th:value="${user.userId}" th:text="${user.lastFirst}">types here</option>
                                </select>

                            </td>
                        </tr>
                                            
                    </tbody>
                </table> 


                <fieldset>

                    <table class="table table-striped">
                        <input type="hidden"  name="userId" th:value="${score.userId}" th:unless="${#strings.equals(score.userId,'')}"/>
                        <input type="hidden" name="gameId" th:value="${score.gameId}"/>

                    </table>

                    <div th:each="theTestElement,stat : ${score.gameHoleNumberArrayList}">
                        <p th:if="${score.gameHoleNumberArrayList[__${stat.index}__]} == 1" th:text="Front"/>
                        Hole#<span th:text="${score.gameHoleNumberArrayList[__${stat.index}__]}"/>
                        Par <span th:text="${score.gameHoleParArrayList[__${stat.index}__]}"/>
                        <input type="text" th:field="${score.gameHoleScoreArrayList[__${stat.index}__]}"/>
                        <input type="hidden" th:field="${score.gameHoleNumberArrayList[__${stat.index}__]}"/>
                        <input type="hidden" th:field="${score.gameHoleParArrayList[__${stat.index}__]}"/>
                        <p th:if="${score.gameHoleNumberArrayList[__${stat.index}__]} == 9" th:text="Back"/>
                    </div>

                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Save</button>
                    </div>

                </fieldset>
            </form>
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>